body #main-content div.box > a,
a.special {
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;

    color: #000;
    background-color: #fff;
}

body #main-content {
    position: relative;
}

/*
label {
  font-size: 24px;
  color: lightblue;
}
*/
/*
input {
  font-size: 30px;
  width:100%;
  box-sizing:border-box;
  padding:12px 20px;
  margin:8px 0;
  background-color: salmon;
}*/

/*.background {
  position: fixed;
  top:0;
  left:0;
  min-width: 100%;
  min-height: 100%;
}*/

.title {
    min-height: 20vh;
    height: auto;
    color: #6b29e0;
    margin: 5em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: "Caveat-Regular";
}

@font-face {
    font-family: "Caveat-Regular";
    src: url("Caveat-Regular.ttf");
}

#formTitle {
    font-size : clamp(2rem, 20vw, 15rem);
    text-shadow: 2px 3px #9a78d6, 4px 5px #9270cc, 6px 7px #8767be,
        8px 9px #7f60b4, 10px 11px #795bad, 12px 13px #785aac, 14px 15px #7758ac,
        60px 61px 50px #372557;
}

.boxFollowing {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxFollowing > div {
    border: solid 0.1em;
    border-top: solid 1.5em;
    font-size: 20px;
    font-family: "Caveat-Regular";
    src: url("Caveat-Regular.ttf");
    border-color: #8e5ce6;
    border-radius: 15pt;
    background-color: #c3abf0;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 5px 5px 5px;
}

#floatingInput {
    border-radius: 10px;
    font-size: 30px;
}

.title > div {
    font-family: "Times New Roman", Times, serif;
}

.labelBox {
    border: solid 0.1em;
    border-color: #6b29e0;
}

.button {
    border: solid 0.1em;
    margin: 1em;
    background-color: #884fe9;
    border-color: #6d37ca;
    border-radius: 10pt;
    color: white;
}

.cgubox {
    position: relative;
}

.cgubox > div {
    position: absolute;
    left: 0;
    top: 0;
}

/*
.adress {
  position: relative;
}

.adress >div{
  top:0px;
  position:absolute;
  right: 0px;
  color: red;
  font-size: 10px;
} */

body #main-content div.box > a,
a.special {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;

    display: block; /*hidden, inline, ...*/
}

.error {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: red;
    text-shadow: 0px 0px 20px rgb(255, 0, 0);
}

body {
    background-color: #c3abf0;
}

.TitlePage {
    font-family: "Caveat-Regular";
    
    font-size : clamp(2rem, 7vw, 5rem);
    text-shadow: 1px 2px #a17fdc, 2px 3px #9a78d6, 3px 4px #9270cc,
        4px 5px #8767be, 5px 6px #7f60b4, 6px 7px #795bad, 7px 8px #785aac,
        8px 9px #7758ac, 40px 40px 40px #372557;
    text-align: center;
}

#profile {
    font-family: "Caveat-Regular";
    font-size: 3vw;
    padding: 10px 10px;
    color: white;
    width: fit-content;
}

.profile-column {
    float: left;
    width: 50%;
    padding: 10px;
}

.profile-row:after {
    content: "";
    display: table;
    clear: both;
}

.profile-picture-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 26vw;
    height: 26vw;
    border-radius: 4vw;
    box-shadow: 1px 1px 30px #624c8c;
}

.profile-info-name {
    font-family: "Caveat-Regular";
    color: white;
    font-size: 4vw;
    padding: 5px 10px;
    margin: 10px 10px;
    text-align: center;
    background-color: #b299e2;
    border-radius: 5vw;
    box-shadow: 1px 1px 30px #836bb0;
}

.profile-info-element {
    font-family: "Caveat-Regular";
    color: white;
    font-size: 3vw;
    padding: 5px 10px;
    margin: 10px 10px;
    text-align: center;
    background-color: #b299e2;
    border-radius: 5vw;
    box-shadow: 1px 1px 30px #836bb0;
}

.button-container {
    padding: 25px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-profile {
    font-family: "Caveat-Regular";
    font-size: 4vw;
    color: white;
    padding: 10px 20px;
    background-color: #b299e2;
    border-radius: 7vw;
    border: solid 2px;
    border-color: #9278c4;
    box-shadow: 1px 1px 20px #836bb0;
}

.button-deco {
    font-family: "Caveat-Regular";
    font-size: 1.5vw;
    color: white;
    padding: 10px 20px;
    background-color: #b299e2;
    border-radius: 7vw;
    border: solid 2px;
    border-color: #9278c4;
    box-shadow: 1px 1px 20px #836bb0;
}

.button-profile:hover {
    color: #bdadd9;
    background-color: #513a7b;
    border-color: #bdadd9;
}

.battle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

.image-column {
    float: left;
    width: 50%;
    padding: 20px;
}

.image-row {
    width: 100%;
}

.image-row:after {
    display: table;
    clear: both;
}

.image-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    height: 20vw;
    border-radius: 5vw;
    box-shadow: 2px 2px 5px #866db4;
    transition: all 0.25s ease-in-out;
}

.image-image:hover {
    transform: scale(1.3);
    box-shadow: 20px 20px 30px #866db4;
}

.image-button {
    background-color: transparent;
    border: none;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.image-button:hover {
    background-color: transparent;
    border: none;
}

.draw-button {
    font-family: "Caveat-Regular";
    font-size: 3vw;
    color: #1c3f78;
    padding: 10px 20px;
    background-color: #4c8aec;
    border-radius: 7vw;
    border: solid 4px;
    border-color: #1c3f78;
    box-shadow: 1px 1px 10px #836bb0;
    transition: all 0.8s ease-in-out;
}

.draw-button:hover {
    color: #bdadd9;
    background-color: #513a7b;
    border-color: #bdadd9;
    padding: 31px 20px;
    transform: rotate(720deg);
}
